<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/style.css">
    <link rel="stylesheet" href="../static/responsive.css">
    <link rel="stylesheet" href="../static/owl.carousel.min.css">
    <link rel="stylesheet" href="../static/owl.theme.default.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>Anjali</title>
</head>

<body>
    <!-- Navigation Bar -->
    <nav class="navbar background_nav">
        <p class="logo">anjali</p>
        <ul class="left_ul" id="myTopnav">
            <li  onclick="hideOnClick()"><a href="#">Home</a></li>
            <li  onclick="hideOnClick()"><a href="#work">Project</a></li>
            <li  onclick="hideOnClick()"><a href="#aboutMe">About</a></li>
            <li  onclick="hideOnClick()"><a href="#aboutMe">Resume</a></li>
            <li  onclick="hideOnClick()"><a href="#contact">Contact</a></li>
        </ul>
        <a href="javascript:void(0);" class="burger" onclick="myFunction()">
            <i class="fa fa-bars"></i>
        </a>
    </nav>
    <!-- Home Section -->
    <section id="home" class="homeBg">
        <div class="home-div border_rainbow">
            <p id="hello">Hello! I'm Anjali.</p>
            <p id="intro"></p>
        </div>
        <!-- <div class="rainbow_box">
            <button class="btn">RESUME</button>
        </div> -->
    </section>

    <section id="work">
        <h1 class="work_h1">This is what I've been up to...</h1>
        <span class="work_head border_rainbow">Projects</span>
        <div class="project">
            <div class="card_box_project">
                <div class="card">
                    <a href="https://github.com/scintilla932/GroupChatApp" target="_blank">
                        <div class="box box1">
                            <img src="../static/img/Chat_app_img.png" alt="Chat_app_img">
                            <h2>Chat app</h2>
                        </div>
                    </a>
                </div>
                <div class="card">
                    <a href="https://github.com/scintilla932/Breast-Cancer-Prediction" target="_blank"> 
                        <div class="box box2">
                            <img src="../static/img/breast_cancer_img.jpg" alt="Breast_cancer_img">
                            <h2>Breast Cancer Detection</h2>
                        </div>
                    </a>
                </div>
                <div class="card">
                    <a href="https://github.com/scintilla932/Library" target="_blank">
                        <div class="box box2">
                            <img src="../static/img/Library_img.jpg" alt="Breast_cancer_img">
                            <h2>Library Management Website</h2>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </section>

    <section id="certification">
        <div class="certification_div">
            <h1 class="work_h1">I have been Learning...</h1>
            <span class="work_head border_rainbow">Cerifications</span>
            <div class="card_box_certificate wrapper owl-carousel owl-theme">
                <div class="certification_box">
                    <a href="../static/certificates/certificateintroductionto_Sql.pdf" class="link " target="blank">
                        <div class="certif_boxContent">
                            <img src="../static/img/datacamp_logo.png" alt="Datacamp">
                            <p class="certif_name">Introduction to PostgreSQL</p>
                        </div>
                    </a>
                </div>

                <div class="certification_box">
                    <a href="../static/certificates/certificatejoiningdata_sql.pdf" class="link" target="blank">
                        <div class="certif_boxContent">
                            <img src="../static/img/datacamp_logo.png" alt="Datacamp">
                            <p class="certif_name">Joining Data in PostgreSQL</p>
                        </div>
                    </a>
                </div>


                <div class="certification_box">
                    <a href="../static/certificates/WhatsApp Image 2020-06-18 at 12.06.51.jpeg" class="link" target="blank">
                        <div class="certif_boxContent">
                            <img src="../static/img/nptel_logo.png" alt="Nptel">
                            <p class="certif_name">Development of Softskills and Personality</p>
                        </div>
                    </a>
                </div>

                <div class="certification_box">
                    <a href="" class="link" target="blank">
                        <div class="certif_boxContent">
                            <img src="../static/img/ardent_logo.png" alt="Ardent">
                            <p class="certif_name">Machine Learning With Python</p>
                        </div>
                    </a>
                </div>

                <div class="certification_box">
                    <a href="../static/certificates/Anjali_Ethics in Engineering Practice (1).jpg (3425×4724)" class="link" target="blank">
                        <div class="certif_boxContent">
                            <img src="../static/img/nptel_logo.png" alt="Nptel">
                            <p class="certif_name">Ethics in Engineering Practices</p>
                        </div>
                    </a>
                </div>

                <div class="certification_box">
                    <a href="../static/certificates/certificateintermediate_sql.pdf" class="link" target="blank">
                        <div class="certif_boxContent">
                            <img src="../static/img/datacamp_logo.png" alt="Datacamp">
                            <p class="certif_name">Intermediate PostgreSQL</p>
                        </div>
                    </a>
                </div>

                <div class="certification_box">
                    <a href="../static/certificates/WhatsApp Image 2020-06-18 at 12.06.26.jpeg" class="link" target="blank">
                        <div class="certif_boxContent">
                            <img src="../static/img/nptel_logo.png" alt="Nptel">
                            <p class="certif_name">Data Structures and Algorithms in Python</p>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </section>

    <section id="aboutMe">

        <h1 class="work_h1">About Me</h1>
        <div class="twoParts">
            <div class="photo">
                <h2>Anjali Gupta</h2>
                <img src="../static/img/me.jpeg" alt="My Picture">
            </div>
            <div class="about">
                <p>I am Anjali Gupata. I am a still a student. I am a machine learning enthusiast and an on-processing web developer. I have a good grasp on programming languages like Python, C and C++. I have a decent understanding of various data structures. I have worked with several Machine learning models for various small and big projects. I have keen interest in learning new technology and am ready for hands-on projects. </p>
                <button class="btn rainbow_box ">RESUME</button>
            </div>
        </div>
    </section>

    <section id="contact">
        <ul class="contact_ul">
            <li class="contact_icon"><a href="https://www.facebook.com/profile.php?id=100006585675284" class="fa fa-facebook" target="blank"></a></li>
            <li class="contact_icon"><a href="https://www.linkedin.com/in/anjali-gupta-b21132118/" class="fa fa-linkedin" target="blank"></a></li>
            <li class="contact_icon"><a href="https://www.instagram.com/scintilla1822/" class="fa fa-instagram" target="blank"></a></li>
            <li class="contact_icon"><a href="https://github.com/scintilla932" class="fa fa-github" target="blank"></a></li>
            <li class="contact_icon"><a href="" class="fa fa-google" target="blank"></a></li>
        </ul>
        <div class="footer">
            <p>Copyright &copy; 2020 | Anjali Gupta</p>
            <p>All Rights Reserved.</p>
        </div>
    </section>

</body>
<script src="../static/index.js"></script>
<script src="../static/jquery-3.5.1.min.js"></script>
<script src="../static/owl.carousel.min.js"></script>
<script src="../static/jquery.js"></script>
</html>